<div id=photo_show class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class= "panel heading photo_image">
        <%= image_tag @photo.image.url %>
      </div>
        <h1> Find or Create New Collection</h1>

      <div class="panel-body"> 
        <%= render 'form' %> 
      </div>
      
    </div>
  </div>
</div>

