<div class="collection_show">
  <h1 class="page-header"><%= @collection.name %></h1>
  <div class='col-md-12'>
    
    <div id='photos' class="rtl">
      <%= render @collection.photos %>
    </div>
  </div>
</div>