<% if !@profile.nil? %>
	<div class="page-header">
		<h4><%= @profile.username %>'s Moments </h4>
	</div>
<% end %>


<div class="col-md-6 col-md-offset-3">
	<div class="transitions-enabled masonry" id="photos">

		<% @photos.each do |photo| %>
				<div class="box panel panel-default">
					<%= link_to (image_tag photo.image.url), photo %>
					<h2><%= link_to photo.title, photo %></h2>
					<p><%= time_ago_in_words(photo.created_at)%> ago</p>
				</div>
			<% end %>

	</div>
</div >

		
